.THIS {
	
}
.THIS .space{
	display: inline-block;
    width:63%;
}
.THIS .searchInput{
	display: inline-block;
    width:36%;
    margin-right: 1%;
}
.THIS .titleListAssessmentRisk{
    font-size: 2em;
    font-weight: 600;
    color: white;
} 
.THIS .styleTitre{
    font-weight: 600;
    font-size: 1.1em; 
}
.THIS .styleText{
    font-weight: 300;
    font-size: 1.2em; 
}

.THIS .cercle {
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
    color:white;
    background-color: #5B86BE;
    border-radius: 50%;
    display: inline-block;
    font-weight: 400;
    font-size: 1em;
}
