.THIS div.activityProof {
    display: inline-block;
    width: 70%;
    margin-left:20%;
    margin-right:10%;
}
.THIS .activityProofSearch {
	display: inline-block;
    width:80%;
    margin-right: 15px;
}
.THIS .titleActivityProof {
  font-weight: 300;
  font-size: 2em;
 /* letter-spacing: -.07em; */
  text-align: center;
  white-space: normal;
}
.THIS .messageIsEmpty {
  text-align: center;
  font-size: 1em;
  white-space: normal;
  color: green;
}
.THIS .thTable {
  font-weight: 600;
  font-size: 1.2em;
}
