.THIS div.activityProof {
    display: inline-block;
    width: 90%;
    margin-left:12%;
    margin-right:10%;
}
.THIS .activityProofSearch {
	display: inline-block;
    width:80%;
    margin-right: 15px;
}
.THIS .titleActivityProof {
  font-weight: 300;
  font-size: 2em;
 /* letter-spacing: -.07em; */
  text-align: center;
  white-space: normal;
}
.THIS .messageIsEmpty {
  text-align: center;
  font-size: 1.5em;
  white-space: normal;
  color: black;
}
.THIS .thTable {
  font-weight: 600;
  font-size: 1.2em;
}
.THIS .btnNewProof {
    display: inline-block;
    cursor: pointer;
    width: 5%;
}

.THIS .btnDeleteProof {
    display: inline-block;
    width: 5%;
    cursor: pointer;
}