.THIS #healthAndSafety{
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	letter-spacing: -.003em;
	text-align: center;
}
.THIS #security{
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	letter-spacing: -.003em;
	text-align: center;
}
.THIS #environment{
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	letter-spacing: -.003em;
	text-align: center;
}
.THIS #cost{
	text-align: center;
	font-weight: 600;
    font-size: 1.5em;
}
.THIS #production{
	text-align: center;
	font-weight: 600;
    font-size: 1.5em;
    border-left: 5px solid #ffffff;
}
.THIS #schedule{
	text-align: center;
	font-weight: 600;
    font-size: 1.5em;
    border-left: 5px solid #ffffff;
}
.THIS #reputation{
	text-align: center;
	font-weight: 600;
    font-size: 1.5em;
    border-left: 5px solid #ffffff;
}
.THIS span{
	
}
.THIS .tdWidth{
	width: 45%;
	white-space: normal !important;
	text-align: justify;
    text-justify: inter-word;
}
.THIS .tdWidth1{
	width: 20%;
	white-space: normal !important;
	text-align: justify;
    text-justify: inter-character;
}
.THIS .tdWidth2{
	width: 25%;
	white-space: normal !important;
	text-align: justify;
    text-justify: inter-character;
}
.THIS .thTable {
    font-weight: 400;
	font-style: normal;
	font-size: 20px;
	letter-spacing: -.003em;
	text-align:center;
}
.THIS .thTableBI {
    font-weight: 400;
	font-style: normal;
	font-size: 20px;
	letter-spacing: -.003em;
}
.THIS .divColor {
	 font-weight: 800;
	 font-size: 1.2em;
	 text-align:center;
}
.THIS .messageIsEmpty {
  text-align: center;
  font-weight: 600;
  font-size: 1.3em;
  white-space: normal;
  color: green;
}
.THIS .widthBtn {
  width: 150px;
  margin-bottom:20px;
}
.THIS .styleAllText{
    text-align: justify;
    text-justify: inter-character;
    font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 1.58;
	letter-spacing: -.003em;
	white-space: normal !important;
}