.THIS #healthAndSafety{
	text-align: center;
	font-weight: 600;
    font-size: 1.5em;
    border-radius:1em;
}
.THIS #security{
	text-align: center;
	font-weight: 600;
    font-size: 1.5em;
    border-left: 5px solid white;
    border-radius:1em;
}
.THIS #environment{
	text-align: center;
	font-weight: 600;
    font-size: 1.5em;
    border-left: 5px solid white;
    border-radius:1em;
}
.THIS #cost{
	text-align: center;
	font-weight: 600;
    font-size: 1.5em;
    border-radius:1em;
}
.THIS #production{
	text-align: center;
	font-weight: 600;
    font-size: 1.5em;
    border-left: 5px solid #ffffff;
    border-radius:1em;
}
.THIS #schedule{
	text-align: center;
	font-weight: 600;
    font-size: 1.5em;
    border-left: 5px solid #ffffff;
    border-radius:1em;
}
.THIS #reputation{
	text-align: center;
	font-weight: 600;
    font-size: 1.5em;
    border-left: 5px solid #ffffff;
    border-radius:1em;
}
.THIS span{
	
}
.THIS .tdWidth{
	width: 45%;
	white-space: normal !important;
	text-align: justify;
    text-justify: inter-word;
}
.THIS .thTable {
 font-weight: 800;
 font-size: 1.5em;
 text-align:center;
}
.THIS .thTableBI {
 font-weight: 800;
 font-size: 1.5em;
}
.THIS .divColor {
 font-weight: 800;
 font-size: 1.2em;
 text-align:center;
 border-radius:1em;
}
.THIS .messageIsEmpty {
  text-align: center;
  font-weight: 600;
  font-size: 1.3em;
  white-space: normal;
  color: green;
}
.THIS .widthBtn {
  width: 150px;
}