.THIS {
}
.THIS .titleAattachment {
  font-weight: 600;
  font-size: 2em;
  color:white;
 /* letter-spacing: -.07em; */
  text-align: center;
  white-space: normal;
}
.THIS .messageIsEmpty {
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  white-space: normal;
  color: black;
}
.THIS .dot {
    height: 55px;
    line-height: 55px;
    width: 300px;
    border-radius:0;
    background-color: #16325c;
    display: inline-block;
}
.THIS .dot:hover {
	background-color:#16325c;	
}
.THIS .thTable {
  font-weight: 600;
  font-size: 1.2em;
}
.THIS div.assumption {
    display: inline-block;
    width: 90%;
    margin-left:12%;
    margin-right:10%;
}

.THIS span.btnNewAttachment {
    display: inline-block;
    cursor: pointer;
    width: 5%;
}

.THIS .btnDeleteAttachment {
    display: inline-block;
    width: 5%;
    cursor: pointer;
}

.THIS .iAssumption {
    display: inline-block;
    width: 80%;
    margin-right: 15px;
}