.THIS {
}
.THIS .space{
	display: inline-block;
    width:44%;
}
.THIS .searchInput{
	display: inline-block;
    width:50%;
    margin-right:1%;
}
.THIS .btnNewAssessment{
	display: inline-block;
    width:5%;
    cursor: pointer;
}
.THIS .titleListAssessment{
    font-size: 2em;
    font-weight: 600;
    color: white;
} 
.THIS .couleurFond{
    background-color: white; 
}
.THIS .styleText{
    font-weight: 600;
    font-size: 1.2em; 
}
.THIS .cercle {
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
    color:white;
    background-color: #5B86BE;
    border-radius: 50%;
    display: inline-block;
}
.THIS .truncateText {
  height:20px;
  padding-right:20px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
