.THIS .dot {
    height: 55px;
    line-height: 55px;
    width: 25%;
    border-radius: 0;
    background-color: #16325c;
    display: inline-block;
}
.THIS .dot:hover {
	background-color:#16325c;	
}
.THIS .thTable {
    font-weight: 600;
    font-size: 1.2em;
}

.THIS .titleAssumtion {
    font-weight: 600;
    font-size: 1.5em;
    /* letter-spacing: -.07em; */
    color: white;
    text-align: center;
    white-space: normal;
}

.THIS .messageIsEmpty {
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
    white-space: normal;
    color: black;
}

.THIS .btnDeleteActivity {
    display: inline-block;
    width: 5%;
    cursor: pointer;
}

.THIS .btnNewAssumption {
    display: inline-block;
    cursor: pointer;
    width: 5%;
}

.THIS div.phase {
    display: inline-block;
    width: 90%;
    margin-left: 12%;
    margin-right: 10%;
}

.THIS .iphase {
    display: inline-block;
    width: 80%;
    margin-right: 15px;
}
.THIS .table-test thead th span {
  font-weight: 600;
  font-size: 1.2em;
}