.THIS .dot {
    height: 55px;
    line-height: 55px;
    width: 300px;
    border-radius: 0;
    background-color: #5B86BE;
    display: inline-block;
}

.THIS .titleAssumtion {
    font-weight: 600;
    font-size: 2em;
    /* letter-spacing: -.07em; */
    color:white;
    text-align: center;
    white-space: normal;
}

.THIS .messageIsEmpty {
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    white-space: normal;
    color: green;
}
.THIS .btnDeleteActivity {
    display: inline-block;
    width: 5%;
    cursor: pointer;
}
.THIS .btnNewAssumption{
   display: inline-block;
    cursor: pointer;
    width: 5%;
}
.THIS div.phase {
    display: inline-block;
    width: 100%;
}
.THIS .iphase {
    display: inline-block;
    width: 80%;
    margin-right: 15px;
}