.THIS {
}
.THIS a{
    text-decoration: none;
}
.THIS .textInDiv{
	white-space: normal;
 }
.THIS div.organisation {
    display: inline-block;
    width:95%;
}
.THIS span.btnNewOrg {
    display: inline-block;
    cursor: pointer;
}
.THIS div.activity {
    display: inline-block;
    width:95%;
}
.THIS span.btnNewAct {
    display: inline-block;
}

.THIS div.cause {
    display: inline-block;
    width:95%;
}
.THIS span.btnNewCause {
    display: inline-block;
}
.THIS .spanClass{
	display: block;
}
.THIS .slid{
	display: block;
	width: 90%;
}
.THIS .scheduleInput{
	width: 85%;
}
.THIS .scheduleSelect{
	width: 15%;
}