.THIS {
	
}
.THIS a{
    text-decoration: none;
}
.THIS .textInDiv{
	white-space: normal;
	text-align: justify;
    text-justify: inter-word;
 }
.THIS div.organisation {
    display: inline-block;
    width:95%;
}
.THIS span.btnNewOrg {
    display: inline-block;
    cursor: pointer;
}
.THIS div.activity {
    display: inline-block;
    width:95%;
}
.THIS span.btnNewAct {
    display: inline-block;
}

.THIS div.cause {
    display: inline-block;
    width:95%;
}
.THIS span.btnNewCause {
    display: inline-block;
}
.THIS .spanClass{
	display: block;
}
.THIS .slid{
	display: block;
	width: 90%;
}
.THIS .scheduleInput{
	width: 80%;
}
.THIS .scheduleSelect{
	width: 20%;
}  
.THIS .heightHiddenInput{
	height: 2px;
}
.THIS .iconPrev{
	cursor: pointer;
}
.THIS .iconNext{
	cursor: pointer;
}
.THIS .orgSelect {
    display: inline-block;
    width:85%;
    margin-right: 15px;
}
.THIS span.btnNewOrganisation {
    display: inline-block;
    cursor: pointer;
    width:5%;
}
.THIS .endSpaceOrg {
    display: inline-block;
    width:7%;
}
.THIS .startSpaceOrg {
    display: inline-block;
    width:3%;
}
.THIS #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

.THIS .tdClass{
	width: 50%;
}

.THIS .intro-title {
  font-weight: 600;
  font-size: 2em;
 /* letter-spacing: -.07em; */
  text-align: center;
  white-space: normal;
}

.THIS .dot {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}