.THIS .inputFieldWidth {
    width:85%;
}
.THIS .titleActivity {
  font-weight: 600;
  font-size: 2em;
 /* letter-spacing: -.07em; */
  text-align: center;
  white-space: normal;
}
.THIS .messageIsEmpty {
  text-align: center;
  font-size: 1em;
  white-space: normal;
  color: green;
}
.THIS span.btnNewMeasure {
    display: inline-block;
    width: 5%;
    cursor: pointer;
}
.THIS .deleteMeasure{
	display: inline-block;
    width: 5%;
    cursor: pointer;
}
.THIS .measureSearch {
	display: inline-block;
    width:80%;
    margin-right: 15px;
}
.THIS div.measureProgression {
    display: inline-block;
    width:100%;
}

.THIS .dot {
    height: 50px;
    line-height: 50px;
    width: 300px;
    border-radius:0;
    background-color: #5B86BE;
    display: inline-block;
}

