.THIS {
    background-color: #0077AB;   
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    padding-bottom: 30px;
}
.THIS .titleFD{
    font-size: 1.8em;
    font-weight: 400
}
.THIS .descriptionFD{
    text-align: justify;
    text-justify: inter-character;
    font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 1.58;
	letter-spacing: -.003em;
}
.THIS .ico svg{
    position: absolute;
    top: 0;
    right: 0;
    fill:white;
}