.THIS span.btnNewRisk {
    display: inline-block;
}
.THIS .slds-icon-standard svg {
  fill: rgb(52,168,83);
}
.THIS .test {
    background-color: #80ffff;
    color: black;
    size:15px;
}
.THIS .table{
     text-align: center;
}
.THIS .header {
	background-color: rgba(27, 82, 151, 1.0);
}

.THIS .descriptionToolTip {
	/* background-color: red; */
}