.THIS span.btnNewRisk {
    display: inline-block;
}
.THIS .slds-icon-standard svg {
  fill: rgb(52,168,83);
}
.THIS .cols {
    background-color: #80ffff;
    color: black;
}
.THIS .table{
     text-align: center;
}