.THIS div.measureProgression {
    display: inline-block;
    width:95%;
}
.THIS .measureSearch {
	display: inline-block;
    width:90%;
    margin-right: 15px;
}
.THIS span.btnNewMeasure {
    display: inline-block;
    width: 5%;
    cursor: pointer;
}
.THIS .deleteMeasure{
	display: inline-block;
    width: 5%;
    cursor: pointer;
}
.THIS .header {
	background-color: rgba(27, 82, 151, 1.0);
}

.THIS .titleprogesMeasure {
  font-weight: 600;
  font-size: 2em;
  color:white;
 /* letter-spacing: -.07em; */
  text-align: center;
  white-space: normal;
}
.THIS .messageIsEmpty {
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  white-space: normal;
  color: green;
}
.THIS .dot {
    height: 55px;
    line-height: 55px;
    width: 300px;
    border-radius: 0;
    background-color: #5B86BE;
    display: inline-block;
}
.THIS .styleAllText{
    text-justify: inter-character;
    font-weight: 400;
	font-style: normal;
	font-size: 17px;
	line-height: 1.58;
	letter-spacing: -.003em;
	white-space: normal !important;
}

.THIS .table-test button{
background-color: #16325c;
color: white}
.THIS .slds-grid_align-end {
    text-align: center;
}