.THIS div.measureProgression {
    display: inline-block;
    width:95%;
}
.THIS .measureSearch {
	display: inline-block;
    width:90%;
    margin-right: 15px;
}
.THIS span.btnNewMeasure {
    display: inline-block;
    width: 5%;
    cursor: pointer;
}
.THIS .deleteMeasure{
	display: inline-block;
    width: 5%;
    cursor: pointer;
}
.THIS .header {
	background-color: rgba(27, 82, 151, 1.0);
}

.THIS .titleprogesMeasure {
  font-weight: 600;
  font-size: 2em;
 /* letter-spacing: -.07em; */
  text-align: center;
  white-space: normal;
}
.THIS .messageIsEmpty {
  text-align: center;
  font-size: 1em;
  white-space: normal;
  color: green;
}
.THIS .dot {
    height: 55px;
    line-height: 55px;
    width: 300px;
    border-radius: 0;
    background-color: #5B86BE;
    display: inline-block;
}

