.THIS .header {
    background-color: rgba(27, 82, 151, 1.0);
}

.THIS div.impact {
    display: inline-block;
    width: 100%;
}

.THIS .iimpact {
    display: inline-block;
    width: 80%;
    margin-right: 15px;
}

.THIS .deleteImpact {
    display: inline-block;
    width: 5%;
    cursor: pointer;
}

.THIS span.btnNewImpact {
    display: inline-block;
    width: 5%;
    cursor: pointer;
}

.THIS .titleImpact {
    font-weight: 600;
    font-size: 2em;
    /* letter-spacing: -.07em; */
    color: white;
    text-align: center;
    white-space: normal;
}

.THIS .messageIsEmpty {
    text-align: center;
    font-size: 1em;
    white-space: normal;
    color: green;
}

.THIS .dot {
    height: 55px;
    line-height: 55px;
    width: 300px;
    border-radius: 0;
    background-color: #5B86BE;
    display: inline-block;
}