.THIS .header {
    background-color: rgba(27, 82, 151, 1.0);
}

.THIS div.impact {
    display: inline-block;
    width: 90%;
    margin-left:12%;
    margin-right:10%;
}

.THIS .iimpact {
    display: inline-block;
    width: 80%;
    margin-right: 15px;
}

.THIS .deleteImpact {
    display: inline-block;
    width: 5%;
    cursor: pointer;	
}

.THIS span.btnNewImpact {
    display: inline-block;
    width: 5%;
    cursor: pointer;
}

.THIS .titleImpact {
    font-weight: 600;
    font-size: 2em;
    /* letter-spacing: -.07em; */
    color: white;
    text-align: center;
    white-space: normal;
}

.THIS .messageIsEmpty {
    text-align: center;
    font-size: 1em;
    white-space: normal;
    color: green;
}
.THIS .thTable {
  font-weight: 600;
  font-size: 1.2em;
}

.THIS .dot {
    height: 55px;
    line-height: 55px;
    width: 15%;
    border-radius: 0;
    background-color: #16325c;
    display: inline-block;
}
.THIS .table-test button{
background-color: #16325c;
color: white;
}