.THIS {
}
.THIS .styleAllText{
    text-justify: inter-character;
    font-weight: 600;
	font-style: normal;
    font-size: 1.2em;
	line-height: 1.58;
	letter-spacing: -.003em;
	white-space: normal !important;
}
.THIS .tdWidth{
	width: 45%;
	white-space: normal !important;
	text-align: justify;
    text-justify: inter-word;
}
.THIS .styleTitle{
    text-justify: inter-character;
    font-weight: 600;
	font-style: normal;
	font-size: 19px;
	line-height: 1.58;
	letter-spacing: -.003em;
	white-space: normal !important;
}
.THIS .styleText{
    text-justify: inter-character;
    font-weight: 400;
	font-style: normal;
	font-size: 19px;
	line-height: 1.58;
	letter-spacing: -.003em;
	white-space: normal !important;
}