.THIS {
}
.THIS .titleActionPlan {
  font-weight: 600;
  font-size: 2em;
  color:white;
 /* letter-spacing: -.07em; */
  text-align: center;
  white-space: normal;
}
.THIS .dot {
    height: 55px;
    line-height: 55px;
    width: 15%;
    border-radius:0;
    background-color: #16325c;
    display: inline-block;
}
.THIS #tabtitle{
	 font-weight: 600;
	 font-size: 1.2em;
}
.THIS #message{
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    white-space: normal;
    color: green;
}
.THIS .redColor{
	color:white;
	background:red;
}
.THIS .yellowColor{
	color:black;
	background:yellow
}
.THIS .greenColor{
	color:white;
	background:green;
}
.THIS .styleAllText{
    text-justify: inter-character;
  /*  text-align:center; */
    font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 1.58;
	letter-spacing: -.003em;
	white-space: normal !important;
}
.THIS #styleAllText{
    text-justify: inter-character;
    text-align:center;
    font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 1.58;
	letter-spacing: -.003em;
	white-space: normal !important;
}