.THIS .searchInput{
	display: inline-block;
    width:35%;
    margin-right:3%;
}
.THIS .space{
	display: inline-block;
    width:62%;
}
.THIS .styleTitre{
    font-weight: 600;
    font-size: 1.2em; 
}
.THIS .styleText{
    font-weight: 300;
    font-size: 1.2em; 
}
.THIS .titleListMeasure{
    font-size: 2em;
    font-weight: 600;
    color: white;
} 