  div.h1.THIS {
    font-family: 'customfontDisney';
    font-size: 40px;
}
@font-face {
    font-family: 'customfontDisney';
    src: url(/resource/disneyFont); 
}
.THIS .searchInput{
	display: inline-block;
    width:35%;
    margin-right:2%;
}
.THIS .space{
	display: inline-block;
    width:63%;
}
