.THIS {
}
.THIS .messageIsEmpty {
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  white-space: normal;
  color: black;
}
.THIS .curseur {
  cursor: pointer;
}

.THIS div.workshop {
    display: inline-block;
    width:80%;
    margin-left:4%;
    margin-right:5%;
}
.THIS .workshopSearch {
	display: inline-block;
    width:80%;
    margin-right: 4%;
}
.THIS .buttonStyle {
	background-color: red;
}
.THIS .table-test thead th span {
 font-weight: 600;
  font-size: 1.2em;
}
