.THIS {
}
.THIS div.phase {
    display: inline-block;
    width:95%;
}
.THIS span.btnNewPhase {
    display: inline-block;
}
.THIS table {
    margin-top: 20px;
}

.THIS .header {
	background-color: rgba(27, 82, 151, 1.0);
}
