.THIS {
	
}
.THIS div.phase {
    display: inline-block;
    width: 80%;
    margin-left:12%;
    margin-right:10%;
}
.THIS span.btnNewPhase {
    display: inline-block;
    cursor: pointer;
    width:5%;
}
.THIS .deletePhase {
	display: inline-block;
    width:5%;
    cursor: pointer;
}
.THIS .iphase {
	display: inline-block;
    width:80%;
    margin-right: 15px;
}
.THIS table {
    margin-top: 20px;
}
.THIS .header {
	background-color: rgba(27, 82, 151, 1.0);
}
.THIS .titlePhase {
  font-weight: 600;
  font-size: 2em;
  color:white;
 /* letter-spacing: -.07em; */
  text-align: center;
  white-space: normal;
}
.THIS .messageIsEmpty {
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  white-space: normal;
  color: green;
}
.THIS .dot {
    height: 50px;
    width: 15%;
    line-height: 50px;
    border-radius:0;
    background-color: #5B86BE;
    display: inline-block;
}
.THIS .thTable {
  font-weight: 600;
  font-size: 1.2em;
}
