.THIS {
	
}
.THIS table {
    border-collapse: collapse;
}

.THIS th {
	background-clip: padding-box;
    border: 3px solid black;
}

.THIS td {
	background-clip: padding-box;
    border: 3px solid black;
}
.THIS .tdRanking{
	width: 15%;
	font-weight: 600;
    font-size: 1.2em;
	text-align: center;
}
.THIS .tdDefinition{
	width: 85%;
	font-weight: 600;
    font-size: 1em;
	white-space: normal !important;
	text-align: justify;
    text-justify: inter-word;
}
.THIS .textCenter{
	font-weight: 600;
    font-size: 1.5em;
	text-align: center;
}
.THIS .monTexte {
	  font-weight: 600;
      font-size: 1.5em;
      display:flex;
      writing-mode: vertical-lr;
      min-height: 10em;
      vertical-align: middle;
      line-height: 2em;
      justify-content:center;
}
.THIS .removeBorderFirstColumn {
     border-left: none !important ; 
     border-top: none !important ; 
     border-bottom: none !important ;
}
.THIS .removeBorderLastRow {
	 font-weight: 600;
     font-size: 1.5em;
     text-align: center;
     border-left: none !important ; 
     border-right: none !important ; 
     border-bottom: none !important ; 
}
.THIS .removeAllBorder {
	 font-weight: 600;
     font-size: 1.6em;
     text-align: center;
     border-left: none !important ; 
     border-right: none !important ;
     border-top: none !important ;  
     border-bottom: none !important ; 
}
.THIS .yellowColor{
	background-color: yellow;
	text-align:center;
	color: #071345;
	font-weight: 600;
    font-size: 1.5em;
}
.THIS .orangeColor{
	background-color: #FF8C00;
	text-align:center;
	color: #071345;
	font-weight: 600;
    font-size: 1.5em;
}
.THIS .redColor{
	background-color: red;
	text-align:center;
	color: #071345;
	font-weight: 600;
    font-size: 1.5em;
}
.THIS .greenColor{
	background-color: green;
	text-align:center;
	color: #071345;
	font-weight: 600;
    font-size: 1.5em;
}
.THIS #healthAndSafety {
    display: inline-block;
    width: 15%;
    text-align: center;
    padding-left: 100px;
    margin-bottom: 300px;
}
.THIS #security {
    display: inline-block;
    width: 15%;
    text-align: center;
    padding-left: 100px;
    margin-bottom: 300px;
}   
.THIS #environment {
    display: inline-block;
    width: 15%;
    text-align: center;
    padding-left: 100px;
    margin-bottom: 300px;
}  
.THIS #idTable {
    display: inline-block;
    width: 300px;
    margin-top:50px;
    margin-bottom:20px;
    margin-left:1%;
    padding-left:100px;
}  
.THIS #idTableSecurity {
    display: inline-block;
    width: 300px;
    margin-top:50px;
    margin-bottom:20px;
    margin-left:1%;
    padding-left:100px;  
} 
.THIS #idTableEnvironment {
    display: inline-block;
    width: 300px;
    margin-top:50px;
    margin-bottom:20px;
    margin-left:1%;
    padding-left:100px;  
}