.THIS {
   /* height: 86px; 
    position: relative;  */  
}

/* .THIS .label {
	position: absolute;
    top: 64px;
    left: 44px;
    right: 0;
    text-align: center;
    max-width: 350px;
}
    
.THIS .slider {
    position: absolute;
    top: 52px;
    left: 28px;
    right: 8px;
    max-width: 350px;
}  */  
.THIS .noUi-connect {
  background: #0070D2;
}

.THIS .noUi-target,
.THIS .noUi-handle {
	box-shadow: none !important;    
}

.THIS .noUi-target {
    background: #FFFFFF;
    border: 1px solid rgb(216, 221, 230);
    border-radius: .25rem;
}

.THIS .showBloc {
   display: block; 
}
.THIS .hideBloc {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

.THIS .tdClassSlider{
	width: 50%;
	white-space: normal;
	padding-left: 4%;
}
.THIS .tdClassSliderText{
	width: 40%;
	white-space: normal;
	padding-left: 4%;
}
.THIS .tdcouleurSlider{
	width: 11%;
	white-space: normal;
	margin-right:3%;
	text-align: center;
}
.THIS .tdClassSlider2{
	width: 23%;
	white-space: normal;
	padding-left: 4%;
}
.THIS .tdcouleurSlider2{
	width: 8%;
	white-space: normal;
	margin-right:3%;
	text-align: center;
}

.THIS .tdClassSlider3{
	width: 29%;
	white-space: normal;
	padding-left: 4%;
}  

.THIS .intro-title {
  font-weight: 600;
  font-size: 2em;
 /* letter-spacing: -.07em; */
  text-align: center;
  white-space: normal;
}
