.THIS {}

.THIS div.phase {
    display: inline-block;
    width: 70%;
    margin-left:20%;
    margin-right:10%;
}
.THIS .thTable {
  font-weight: 600;
  font-size: 1.2em;
}

.THIS span.btnNewPhase {
    display: inline-block;
    cursor: pointer;
    width: 5%;
}

.THIS .deletePhase {
    display: inline-block;
    width: 5%;
    cursor: pointer;
}

.THIS .iphase {
    display: inline-block;
    width: 80%;
    margin-right: 15px;
}

.THIS .titlePhase {
    font-weight: 600;
    font-size: 2em;
    /* letter-spacing: -.07em; */
    color: white;
    text-align: center;
    white-space: normal;
}

.THIS .messageIsEmpty {
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    white-space: normal;
    color: green;
}

.THIS table {
    margin-top: 20px;
}

.THIS .dot {
    height: 55px;
    line-height: 55px;
    width: 15%;
    border-radius: 0;
    background-color: #5B86BE;
    display: inline-block;
}