.THIS {
}

.THIS .titleAssumtion {
  font-weight: 300;
  font-size: 2em;
 /* letter-spacing: -.07em; */
  text-align: center;
  white-space: normal;
}
.THIS .messageIsEmpty {
  text-align: center;
  font-size: 1em;
  white-space: normal;
  color: green;
}
