.THIS {
}

.THIS .titleAssumtion {
  font-weight: 600;
  font-size: 2em;
  color:white;
 /* letter-spacing: -.07em; */
  text-align: center;
  white-space: normal;
}
.THIS .messageIsEmpty {
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  white-space: normal;
  color: green;
}
.THIS .dot {
    height: 55px;
    line-height: 55px;
    width: 300px;
    border-radius:0;
    background-color: #5B86BE;
    display: inline-block;
}
.THIS .thTable {
  font-weight: 600;
  font-size: 1.2em;
}
.THIS div.assumption {
    display: inline-block;
     width: 70%;
    margin-left:20%;
    margin-right:10%;
}

.THIS span.btnNewAssumption {
    display: inline-block;
    cursor: pointer;
    width: 5%;
}

.THIS .btnDeleteActivity {
    display: inline-block;
    width: 5%;
    cursor: pointer;
}

.THIS .iAssumption {
    display: inline-block;
    width: 80%;
    margin-right: 15px;
}
